* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #e0e5ec;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  background: #e0e5ec;
  padding: 30px 40px;
  border-radius: 20px;
  width: 400px;
  box-shadow:
    10px 10px 20px rgba(0, 0, 0, 0.1),
    -10px -10px 20px rgba(255, 255, 255, 0.7);
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.form-container:hover {
  box-shadow:
    6px 6px 12px rgba(0, 0, 0, 0.1),
    -6px -6px 12px rgba(255, 255, 255, 0.8);
  transform: translateY(-5px);
}

h1 {
  margin-bottom: 30px;
  color: #4e4e50;
}

.input-field {
  margin-bottom: 20px;
  text-align: left;
}

.input-field label {
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
  color: #4e4e50;
}

.input-field input {
  width: 100%;
  padding: 10px;
  background: #e0e5ec;
  border: none;
  border-radius: 10px;
  box-shadow:
    inset 6px 6px 12px rgba(0, 0, 0, 0.1),
    inset -6px -6px 12px rgba(255, 255, 255, 0.7);
  font-size: 16px;
  transition: all 0.3s ease;
}

.input-field input:focus {
  outline: none;
  box-shadow:
    inset 2px 2px 6px rgba(0, 0, 0, 0.2),
    inset -2px -2px 6px rgba(255, 255, 255, 0.6);
}

button {
  width: 100%;
  padding: 12px;
  background: #e0e5ec;
  border: none;
  border-radius: 10px;
  box-shadow:
    inset 6px 6px 12px rgba(0, 0, 0, 0.1),
    inset -6px -6px 12px rgba(255, 255, 255, 0.7);
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

button:hover {
  box-shadow:
    inset 3px 3px 8px rgba(0, 0, 0, 0.1),
    inset -3px -3px 8px rgba(255, 255, 255, 0.8);
}

#result {
  margin: 20px 10px 10px 10px;
  line-height: 22px;
}

@media (max-width: 768px) {
  .form-container {
    width: 90%;
    padding: 30px;
  }
}

@media (max-width: 480px) {
  .form-container {
    width: 100%;
    padding: 20px;
  }

  button {
    padding: 10px 20px;
  }

  .input-field input {
    font-size: 14px;
  }
}
